<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Role Management')"></head>

<body>
<div th:replace="layout :: header"></div>

<div th:replace="layout :: flash"></div>

<main class="container section">
  <div class="row">
    <div class="col s12 l6" th:each="role : ${roles}">
      <div class="card-panel hoverable">
        <h4 class="center-align" th:text="${role.name}"></h4>

        <div class="role-card-action">
          <form class="hide" id="deleteForm" th:action="@{|/role-delete/${role.id}|}" method="get"></form>
          <a class="deleteButton"><i class="material-icons card-action-icon delete-icon card-icon">delete</i></a>

          <form class="hide" id="editForm" th:action="@{|/role-edit/${role.id}|}" method="get"></form>
          <a class="editButton"><i class="material-icons card-action-icon edit-icon card-icon">mode_edit</i></a>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="layout :: addButton('add-role')"></div>
</main>

<footer th:replace="layout :: footer"></footer>

<div th:replace="layout :: scripts"></div>
</body>
</html>