<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout :: head('User Management')"></head>

  <body>
    <div th:replace="layout :: header"></div>

    <div th:replace="layout :: flash"></div>

    <main class="container section">
      <div class="row">
        <div class="col s12" th:each="user : ${users}">
          <div class="card-panel">
            <div>
              <span>Username: </span>
              <span th:text="${user.username}">username</span>
            </div>

            <div>
              <span>Role: </span>
              <span th:text="${user.role.name}">role</span>
            </div>

            <div>
              <span>Enabled: </span>
              <span th:text="${user.enabled}">enabled</span>
            </div>

            <div class="user-card-action">
              <form class="hide" id="deleteForm" th:action="@{|/user-delete/${user.id}|}" method="get"></form>
              <a class="deleteButton"><i class="material-icons card-action-icon delete-icon card-icon">delete</i></a>
            </div>
          </div>
        </div>
      </div>

      <!--<div th:replace="layout :: addButton('add-user')"></div>-->
    </main>

    <footer th:replace="layout :: footer"></footer>

    <div th:replace="layout :: scripts"></div>
  </body>
</html>