<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Camp | Add</title>
  <link rel='shortcut icon' th:href="@{icons/favicon.ico}" type='image/x-icon'/>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"/>
  <link rel="stylesheet" th:href="@{css/application.css}"/>
</head>

<body>
  <div class="m-scene" id="main">
    <header class="scene_element scene_element--fadein">
      <div class="navbar-fixed">
        <ul id="management" class="dropdown-content">
          <li><a href="#!">User Management</a></li>
          <li><a href="#!">Category Management</a></li>
          <li><a href="#!">Photo Management</a></li>
        </ul>
        <nav>
          <div class="nav-wrapper container">
            <a th:href="@{/}" class="brand-logo">
              <svg id="nav-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 429.6 429.6" style="enable-background:new 0 0 429.6 429.6;" xml:space="preserve">
                  <path id="XMLID_625_" d="M419.6,358.401h-20.249L226.822,99.597l21.899-32.85c3.063-4.595,1.822-10.804-2.773-13.867
                  s-10.805-1.824-13.867,2.773l-17.28,25.92l-17.28-25.92c-3.063-4.596-9.273-5.837-13.867-2.773
                  c-4.596,3.063-5.837,9.272-2.773,13.867l21.903,32.855L30.248,358.401H10c-5.522,0-10,4.477-10,10s4.478,10,10,10h409.6
                  c5.522,0,10-4.477,10-10S425.122,358.401,419.6,358.401z M156.688,358.401l58.114-87.173l58.112,87.173H156.688z M296.95,358.401
                  l-73.828-110.748c-1.854-2.782-4.977-4.453-8.32-4.453s-6.466,1.671-8.32,4.453L132.65,358.401H54.285l160.52-240.774
                  l160.51,240.774H296.95z" fill="#FFFFFF"/>
                  </svg>
            </a>
            <ul class="right hide-on-med-and-down">
              <li>
                <a class="dropdown-button" href="#!" data-activates="management">
                  Management
                  <i class="material-icons right">arrow_drop_down</i>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <main class="container section scene_element scene_element--fadeinup">
      <div class="row">
        <div class="col s12">
          <div class="card-panel">
            <form th:action="@{/add}" method="post" th:object="${statePark}" id="add-form" enctype="multipart/form-data">
              <div>
                <h4>Add A New State Park</h4>
                <div class="input-field">
                  <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                  <input id="state-park-name" type="text" th:field="*{name}" class=""/>
                  <label for="state-park-name">Name</label>
                </div>
                <div class="file-field input-field">
                  <div class="btn">
                    <span>Photo</span>
                    <input type="file" name="file"/>
                  </div>
                  <div class="file-path-wrapper">
                   <input class="file-path" type="text"/>
                  </div>
                </div>
                <div class="card-action right-align">
                  <a th:href="@{/}" class="waves-effect waves-light btn grey">Cancel</a>

                  <button class="btn waves-effect waves-light button" type="submit">Submit
                    <i class="material-icons right">send</i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>

    <footer class="page-footer">
      <div class="footer-copyright">
        <div id="copyright" class="container">
          © Developed by Ryan
        </div>
      </div>
    </footer>
  </div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!--<script th:src="@{vendor/jquery.smoothState.min.js}"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<!--<script th:src="@{js/application.js}"></script>-->
</body>
</html>