<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout :: head('Home')"></head>

  <body>
    <header th:replace="layout :: header"></header>

    <div th:replace="layout :: flash"></div>

    <main id="main-section" class="wrapper container section">
      <!--<div class="row">-->
        <!--<div class="col s12">-->
          <!--<div class="card-panel">-->
            <!--<i class="material-icons">search</i>-->
            <!--<input type="text" placeholder="Search..."/>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <!--will be moved-->
      <!--<div th:fragment="flash" th:if="${flash != null}" class="container">-->
        <!--<i class="right material-icons" data-close="">close</i>-->
        <!--<div th:classappend="${#strings.toLowerCase(flash.status)}" th:text="${flash.message}" class="flash"></div>-->
      <!--</div>-->

      <div id="content">
        <div class="row">
          <div class="col s12 l6" th:each="statePark : ${stateParks}">
            <div class="card hoverable">
              <div class="card-image">
                <img th:src="@{|/state-park/${statePark.id}|}"/>
                <span class="card-title" th:text="${statePark.name}">Card Title</span>
              </div>
              <div class="card-action">
                <i class="material-icons">mode_edit</i>
                <i class="material-icons">delete</i>
                <i class="material-icons">star</i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div th:replace="layout :: addButton('add-statepark')"></div>
    </main>

    <footer th:replace="layout :: footer"></footer>

    <div th:replace="layout :: scripts"></div>
  </body>
</html>