<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout :: head('Home')"></head>

  <body>
    <header th:replace="layout :: header"></header>

    <div th:replace="layout :: flash"></div>

    <main id="main-section" class="wrapper container section">
      <!--<div class="row">-->
        <!--<div class="col s12">-->
          <!--<div class="card-panel">-->
            <!--<i class="material-icons">search</i>-->
            <!--<input type="text" placeholder="Search..."/>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <div id="content">
        <div class="row">
          <div class="col s12 l6" th:each="statePark : ${stateParks}">
            <div class="card hoverable">
              <div class="card-image">
                <img th:src="@{|/state-park/${statePark.id}|}"/>
                <i class="material-icons card-favorite-icon card-icon">star</i>
                <span class="card-title" th:text="${statePark.name}">Card Title</span>
              </div>

              <div class="card-action">
                <div class="chip" th:text="${statePark.category.name}" th:style="|background-color:${statePark.category.colorCode}|"></div>

                <form class="hide" id="deleteForm" th:action="@{|/state-park-delete/${statePark.id}|}" method="get"></form>
                <a class="deleteButton"><i class="material-icons card-action-icon delete-icon card-icon">delete</i></a>

                <form class="hide" id="editForm" th:action="@{|/state-park-edit/${statePark.id}|}" method="get"></form>
                <a class="editButton"><i class="material-icons card-action-icon edit-icon card-icon">mode_edit</i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div th:replace="layout :: addButton('add-statepark')"></div>
    </main>

    <footer th:replace="layout :: footer"></footer>

    <div th:replace="layout :: scripts"></div>
  </body>
</html>