// Descriptive color variables
$light-teal         : #4db6ac;
$light-blue-grey    : #eceff1;
$white              : #ffffff;
$light-green-color  : #dcedc8;
$dark-green-color   : #8bc34a;
$dark-blue-grey     : #cfd8dc;
$light-grey         : #bdbdbd;
$edit-green         : #388e3c;
$delete-red         : #d32f2f;
$favorite-yellow    : #fdd835;
$icon-grey          : #9e9e9e;

// Font stacks
$stack-sans-serif   : Helvetica, Arial, sans-serif;
$varela-round        : 'Varela Round', $stack-sans-serif;

// Media Query Break Points
$breakpoint-medium  : 601px;
$breakpoint-large   : 993px;